#filters {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.filter {
  background-color: $gray2;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid $gray3;
  border-radius: 5px;
  color: $black;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: $white;
    background-color: $gray5;
    border: 2px solid $gray5;
    transition: all 0.5s;
    text-decoration: line-through;
  }
}
