////////////////// HEADER //////////////////
header {
  background-color: $black;
  color: $white;
  min-height: 20vh;
  text-align: center;
  background: rgb(34, 34, 34);
  margin-bottom: 1rem;

  box-shadow: rgba(74, 74, 74, 0.4) 0px 5px, rgba(114, 114, 114, 0.3) 0px 10px,
    rgba(154, 154, 154, 0.2) 0px 15px, rgba(194, 194, 194, 0.1) 0px 20px,
    rgba(234, 234, 234, 0.05) 0px 25px;
}
h1 {
  font-size: 2.5rem;
  padding: 1.5rem;
  font-family: "Press Start 2P", cursive;
  line-height: 3rem;
  span {
    color: rgb(216, 91, 216);
    font-family: "Press Start 2P", cursive;
  }
}
