* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#filters {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter {
  background-color: #c2c2c2;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter:hover {
  color: #eee;
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: line-through;
}

header {
  background-color: #222;
  color: #eee;
  min-height: 20vh;
  text-align: center;
  background: #222222;
  margin-bottom: 1rem;
  -webkit-box-shadow: rgba(74, 74, 74, 0.4) 0px 5px, rgba(114, 114, 114, 0.3) 0px 10px, rgba(154, 154, 154, 0.2) 0px 15px, rgba(194, 194, 194, 0.1) 0px 20px, rgba(234, 234, 234, 0.05) 0px 25px;
          box-shadow: rgba(74, 74, 74, 0.4) 0px 5px, rgba(114, 114, 114, 0.3) 0px 10px, rgba(154, 154, 154, 0.2) 0px 15px, rgba(194, 194, 194, 0.1) 0px 20px, rgba(234, 234, 234, 0.05) 0px 25px;
}

h1 {
  font-size: 2.5rem;
  padding: 1.5rem;
  font-family: "Press Start 2P", cursive;
  line-height: 3rem;
}

h1 span {
  color: #d85bd8;
  font-family: "Press Start 2P", cursive;
}

main {
  background-color: #eee;
  padding-bottom: 2rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input {
  background-color: #eee;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0.8rem;
}

form .input {
  background-color: #eee;
  color: #222;
  border: 2px solid #727272;
  padding: 0rem 1.3rem;
  font-size: 20px;
  border-radius: 50px;
  outline: none;
  margin: 1rem;
}

#search-button {
  border: none;
  outline: none;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#search-button:hover {
  cursor: pointer;
  font-size: 23px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card {
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: auto 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  border-radius: 10px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.card:hover {
  background-size: auto 220px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card p {
  background-color: rgba(40, 40, 40, 0.658);
  color: #eee;
  padding: 1rem;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.card p:hover {
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: underline;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  min-height: 50vh;
  margin: auto;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.buttons button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #9a9a9a;
  color: #222;
}

.buttons button:hover {
  font-size: 20px;
  background-color: #4a4a4a;
  color: #eee;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer {
  min-height: 20vh;
  background: #222;
  -webkit-box-shadow: rgba(234, 234, 234, 0.05) 0px -25px, rgba(194, 194, 194, 0.1) 0px -20px, rgba(154, 154, 154, 0.2) 0px -15px, rgba(114, 114, 114, 0.3) 0px -10px, rgba(74, 74, 74, 0.4) 0px -5px;
          box-shadow: rgba(234, 234, 234, 0.05) 0px -25px, rgba(194, 194, 194, 0.1) 0px -20px, rgba(154, 154, 154, 0.2) 0px -15px, rgba(114, 114, 114, 0.3) 0px -10px, rgba(74, 74, 74, 0.4) 0px -5px;
}
/*# sourceMappingURL=style.css.map */